:root{
    --font-size: 90px;
    --border-radius: 20px;
    --background-objetos: rgba(225, 0, 0, 0.5);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.finisher-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p,b,span, footer, h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    align-items: center;
    text-align: center;
}
*{
    user-select: none;
}

button{
    cursor: pointer;
}

input{
    position: absolute;
    opacity: 0%;
}

#barraProgreso{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10px;
    background-color: rgba(111, 255, 0, 0.141);
}

#barraProgreso div{
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgb(205, 156, 156);
}

button{
    font-size: var(--font-size);
    padding: 35px;
    border: unset;
    border-radius: var(--border-radius);
    color: rgb(241, 255, 240);
    background-color: var(--background-objetos);
}

#palabraActual{
    color: #fff;
    font-size: var(--font-size);
}

.letraActual{
    color: rgb(246, 63, 112);
}

.data{
    color: white;
    padding: 10px;
    background-color: var(--background-objetos);
    border-radius: var(--border-radius);
}

#correctas span{
    color: rgb(217, 255, 217);
}

#incorrectas span{
    color: rgb(255, 217, 217);
}

.escondido{
    display: none;
}

.invisible{
    opacity: 0%;
}

.aparecer{
    animation: aparecer;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.desaparecer{
    position: absolute;
    font-size: var(--font-size);
    top: var(--top);
    left: var(--left);
    animation-duration: 500ms;
    animation-name: desaparecer;
    animation-timing-function: ease-in-out;
}

.completarTiempo{
    animation-duration: var(--tiempo);
    animation-name: completarBarra;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

footer{
    margin-top: 20px;
    text-align: center;
}
footer a:visited{
    color: unset;
}


@keyframes aparecer {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes desaparecer{
    0%{

    }
    50%{
        color: rgb(69, 91, 136);
    }
    100%{
        transform: translateY(-100%);
        opacity: 0%;
        font-size: calc( var(--font-size) / 2 );
    }
}

@keyframes completarBarra{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
